body
{
    background-image: url(https://scontent-sin6-2.xx.fbcdn.net/v/t1.15752-9/238858612_1060975814644512_2462045551373026890_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=wiFF7tJ89sIAX8GptzX&_nc_ht=scontent-sin6-2.xx&oh=c2ab9622d0865d2879a63bebecc6b4b0&oe=614464F3);
    background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                margin:0;
}
h1{
    color:floralwhite;
}
